@CHARSET "UTF-8";
@import "mixins";
@import "reset";
@import "typography";

body {
  //background: url("/pics/mockup.png") no-repeat;
  background: url("/pics/groovepaper2X.png");
  background-size: 300px 300px;
}
.page-enter-active, .page-leave-active {
  transition: opacity .5s;
}
.page-enter, .page-leave-to {
  opacity: 0;
}
